:root {
  /* ============================== */
  /* ===== Font Family ===== */
  /* ============================== */
  --font-poppins: "Poppins", sans-serif;

  /* ============================== */
  /* ===== Font Weights ===== */
  /* ============================== */
  --fw-extra-light: 200;
  --fw-regular: 400;
  --fw-semibold: 600;

  /* ============================== */
  /* ===== Line Heights ===== */
  /* ============================== */
  --lh-135: 1.35;
  --lh-140: 1.4;
  --lh-160: 1.6;

  /* ============================== */
  /* ===== Letter Spacing ===== */
  /* ============================== */
  --ls-0: 0px;
  --ls-025: 0.25px;
  --ls-01:0.1px;

  /* ============================== */
  /* ===== Text Presets ===== */
  /* ============================== */

  /* Text Preset 1 — 36px Semibold */
  --tp-1-font: var(--fw-semibold) 3.6rem / var(--lh-140) var(--font-poppins);
  --tp-1-font-mobile: var(--fw-semibold) 2.4rem / var(--lh-140) var(--font-poppins);
  --tp-1-ls: var(--ls-025);


  /* Text Preset 2 — 36px Extra Light */
  --tp-2-font: var(--fw-extra-light) 3.6rem / var(--lh-140) var(--font-poppins);
  --tp-2-font-mobile: var(--fw-extra-light) 2.4rem / var(--lh-140) var(--font-poppins);
  --tp-2-ls: var(--ls-025);

  /* Text Preset 3 — 20px Semibold */
  --tp-3-font: var(--fw-semibold) 2rem / var(--lh-135) var(--font-poppins);
  --tp-3-ls: var(--ls-0);

  /* Text Preset 4 — 15px Regular */
  --tp-4-font: var(--fw-regular) 1.5rem / var(--lh-140) var(--font-poppins);
  --tp-4-font-mobile: var(--fw-regular) 1.5rem / var(--lh-140) var(--font-poppins);
  --tp-4-ls: var(--ls-01);

  /* Text Preset 5 — 13px Regular */
  --tp-5-font: var(--fw-regular) 1.3rem / var(--lh-160) var(--font-poppins);
  --tp-5-ls: var(--ls-0);

  /* ============================== */
  /* ===== Colors ===== */
  /* ============================== */

  /* Neutral */
  --grey-500: hsl(234, 12%, 34%);
  --grey-400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);

  /* Primary */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --blue: hsl(212, 86%, 64%);
  --orange: hsl(34, 97%, 64%);

  /* ============================== */
  /* ===== Spacing ===== */
  /* ============================== */
  --spacing-100: 0.8rem;  /* 8px */
  --spacing-200: 1.6rem;  /* 16px */
  --spacing-300: 2.4rem;  /* 24px */
  --spacing-400: 3.2rem;  /* 32px */
  --spacing-500: 4rem;    /* 40px */
}
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    padding-inline:3rem;
}
main {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}
.text-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:var(--spacing-200);
}
.text-content h1 span {
    font:var(--tp-2-font-mobile);
    letter-spacing: var(--tp-2-ls);
}
.text-content h1 {
    margin-top: 5.6rem;
    font:var(--tp-1-font-mobile);
    letter-spacing: var(--tp-1-ls);
    color: var(--grey-500);
}
.text-content p {
    font:var(--tp-4-font-mobile);
    letter-spacing: var(--ls-01);
    color: var(--grey-500);
}
.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:var(--spacing-400);
    margin-bottom: 6rem ;
    
}
.card {
    border-top: 5px solid ;
    padding:var(--spacing-400);
    box-shadow: 0 15px 30px -11px rgba(131, 166, 210, 0.5);
    border-radius: var(--spacing-100);
    position: relative;
    width: 31.4rem;
    width: 100%;
}
.card h2 {
    color: var(--grey-500);
    font:var(--tp-3-font);
}
.card p {
    color: var(--grey-400);
    font:var(--tp-5-font);
    letter-spacing: var(--tp-5-ls);
}
.card  img{
    display: block;
    margin-left:auto;
    margin-right: 0;
    margin-top:var(--spacing-400);
    width: 6.4rem;
}
.supervisor{
    border-color: var(--cyan);
}
.team-builder {
    border-color: var(--red);
}
.karma{
    border-color: var(--orange);
}
.calculator{
    border-color:var(--blue);
}
@media (min-width:768px)
{
    body{
        padding:0;
    }
    .text-content {
        padding-inline:0;
        max-width: 54rem;
        margin-inline:auto ;
    }
    .cards {
        padding-inline: 5.4rem;
        width: 100%;
        display: grid;
        grid-template-rows: repeat(3,1fr);
        grid-template-columns: repeat(minmax(31rem,37rem));
        justify-items: center;
        column-gap: var(--spacing-400);
        row-gap: var(--spacing-400);
        align-items: center;
    }
    .card {
        max-width: 37rem;
        width: 100%;
        height: 25rem;
    }
    .team-builder {
        grid-row: 1;
        grid-column: 1/3;
    }
    .supervisor {
        grid-row:2;
        grid-column: 1/2;
    }
    .karma {
        grid-row:2;
        grid-column: 2/3;
    }
    .calculator {
        grid-row: 3;
        grid-column: 1/3;
    }
    
}
@media (min-width:1440px)
{
    .cards {
        padding-inline: 5.4rem;
        width: 100%;
        display: grid;
        grid-template-rows:repeat(2,1fr);
        grid-template-columns:repeat(3, minmax(35rem,50rem));
        column-gap: var(--spacing-400);
        row-gap: var(--spacing-400);
        justify-content: center;
        
    }
    .card {
        width: 100%;
        max-width: 50rem;
    }
    .supervisor {
        grid-row:1/3;
        grid-column: 1/2;
    }
    .team-builder {
        grid-row: 1/2;
        grid-column: 2/3;
    }
    .karma {
        grid-row:2/3;
        grid-column: 2/3;
    }
    .calculator {
        grid-row: 1/3;
        grid-column: 3/4;
    }
    
}

